%ul.nav
  %li
    %a{:href => "#"} Home
  %li
    %a{:href => "#"} Strategy
    %ul
      %li
        %a{:href => "#"} b1
      %li
        %a{:href => "#"} b1
  %li
    %a{:href => "#"} About
    %ul
      %li
        %a{:href => "#"} c1
      %li
        %a{:href => "#"} c1
  %li
    %a{:href => "#"} Works
    %ul
      %li
        %a{:href => "#"} d1
      %li
        %a{:href => "#"} d1
  %li
    %a{:href => "#"} Contact
    %ul
      %li
        %a{:href => "#"} e1
      %li
        %a{:href => "#"} e1