.my_page_wrapper
  .my_page_wrapper__box
    .my_page_wrapper__box__inner
    
      = render 'my_page_list'

      .my_page_wrapper__box__inner__right
        %h1.my_page_wrapper__box__inner__right--title
          プロフィール
        
        .my_page_wrapper__box__inner__right__content
