.main_wrapper
  -# 映画館で上映中の映画
  .movie_slide
    .movie_slide__box
      .movie_slide__box--title
        劇場公開中の映画
      %ul.movie_slide__box__contents
        %li.movie_slide__box__contents__item
          aaaaa

        %li.movie_slide__box__contents__item
          aaaaa

        %li.movie_slide__box__contents__item
          aaaaa

        %li.movie_slide__box__contents__item
          aaaaa
        
        %li.movie_slide__box__contents__item
          aaaaa

        %li.movie_slide__box__contents__item
          aaaaa
  
  -# 近日公開予定の映画
  .coming_soon_movie
    .coming_soon_movie__box
      .coming_soon_movie__box--title
        近日公開予定作品
      %ul.coming_soon_movie__box__contents
        %li.coming_soon_movie__box__contents__item
          ccccccc
        %li.coming_soon_movie__box__contents__item
          ccccccc
        %li.coming_soon_movie__box__contents__item
          ccccccc
        %li.coming_soon_movie__box__contents__item
          ccccccc
        %li.coming_soon_movie__box__contents__item
          ccccccc
        %li.coming_soon_movie__box__contents__item
          ccccccc
        %li.coming_soon_movie__box__contents__item
          ccccccc

  -# 人気の映画 見た・見たいの数が多いもの
  .popular_movie
    .popular_movie__box
      .popular_movie__box--title
        人気の映画
      %ul.popular_movie__box__contents
        %li.popular_movie__box__contents__item
          bbbbbb

        %li.popular_movie__box__contents__item
          bbbbbb

        %li.popular_movie__box__contents__item
          bbbbbb

        %li.popular_movie__box__contents__item
          bbbbbb

        %li.popular_movie__box__contents__item
          bbbbbb

        %li.popular_movie__box__contents__item
          bbbbbb
        
        %li.popular_movie__box__contents__item
          bbbbbb

  -# 高評価の映画 評価の星が多かったもの
  .high_rating_movie
    .high_rating_movie__box
      .high_rating_movie__box--title
        高評価の映画
      %ul.high_rating_movie__box__contents
        %li.high_rating_movie__box__contents__item
          dddddddd
        %li.high_rating_movie__box__contents__item
          dddddddd
        %li.high_rating_movie__box__contents__item
          dddddddd
        %li.high_rating_movie__box__contents__item
          dddddddd
        %li.high_rating_movie__box__contents__item
          dddddddd
        %li.high_rating_movie__box__contents__item
          dddddddd
        %li.high_rating_movie__box__contents__item
          dddddddd

  -# カテゴリーごとに分けられている映画一覧
  -# .category_movie
  -#   .category_movie__box
  -#     .category_movie__box--title
  -#       アクション (カテゴリーごとに)
      
  -#     %ul.category_movie__box__contents
  -#       %li.category_movie__box__contents__item
  -#       %li.category_movie__box__contents__item
  -#       %li.category_movie__box__contents__item
  -#       %li.category_movie__box__contents__item
  -#       %li.category_movie__box__contents__item
  -#       %li.category_movie__box__contents__item
  -#       %li.category_movie__box__contents__item
  -#       %li.category_movie__box__contents__item