.main_wrapper {
  background-color: whitesmoke;
  padding-bottom: 50px;
  &__container {
    height: 80vh;
    background: linear-gradient(to top, rgba(141, 141, 141, 0.7) 0%, #c7ab6e8f 100%),url('filmi_素材/home_l.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    &__inner {
      &--title {
        text-align: center;
        font-size: 80px;
        font-family: 'Lobster', cursive;
        color: #ffffff;
        padding-top: 200px;
      }
      &--text {
        color: #ffffff;
        font-size: 30px;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
      }
      &__search {
        text-align: center;
        &--field {
          width: 40%;
          height: 40px;
          padding: 0 15px;
          border-radius: 10px;
          border: none;
        }
        &--btn {
          height: 40px;
          width: 50px;
          border-radius: 10px;
          border: none;
          background-color: #eebd53;
          color: #ffffff;
          font-weight: bold;
        }
      }
    }
  }
  .movie_slide {
    height: 340px;
    padding: 20px 150px 0;
    &__box {
      height: 100%;
      &--title {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
      }
      &__contents {
        margin: 10px 0 0;
        padding: 0;
        height: calc(100% - 40px);
        overflow-x: auto;
        white-space: nowrap;
        &__item {
          height: 280px;
          width: 230px;
          margin: 0 10px;
          background-color: #ffffff;
          list-style: none;
          display: inline-block;
        }
      }
    }
  }

  .coming_soon_movie {
    height: 340px;
    padding: 20px 150px 0;
    &__box {
      height: 100%;
      &--title {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
      }
      &__contents {
        margin: 10px 0 0;
        padding: 0;
        height: calc(100% - 40px);
        overflow-x: auto;
        white-space: nowrap;
        &__item {
          height: 280px;
          width: 230px;
          margin: 0 10px;
          background-color: #ffffff;
          list-style: none;
          display: inline-block;
        }
      }
    }
  }

  .popular_movie {
    height: 340px;
    padding: 20px 150px 0;
    &__box {
      height: 100%;
      &--title {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
      }
      &__contents {
        margin: 10px 0 0;
        padding: 0;
        height: calc(100% - 40px);
        overflow-x: auto;
        white-space: nowrap;
        &__item {
          height: 280px;
          width: 230px;
          margin: 0 10px;
          background-color: #ffffff;
          list-style: none;
          display: inline-block;
        }
      }
    }
  }

  .high_rating_movie {
    height: 340px;
    padding: 20px 150px 0;
    &__box {
      height: 100%;
      &--title {
        font-size: 20px;
        font-weight: bold;
        text-align: center
      }
      &__contents {
        margin: 10px 0 0;
        padding: 0;
        height: calc(100% - 40px);
        overflow-x: auto;
        white-space: nowrap;
        &__item {
          height: 280px;
          width: 230px;
          margin: 0 10px;
          background-color: #ffffff;
          list-style: none;
          display: inline-block;
        }
      }
    }
  }

  .category_movie {
    height: 340px;
    padding: 20px 150px 0;
    &__box {
      height: 100%;
      &--title {
        font-size: 20px;
        font-weight: bold;
        text-align: center
      }
      &__contents {
        margin: 10px 0 0;
        padding: 0;
        height: calc(100% - 40px);
        overflow-x: auto;
        white-space: nowrap;
        &__item {
          height: 280px;
          width: 230px;
          margin: 0 10px;
          background-color: #ffffff;
          list-style: none;
          display: inline-block;
        }
      }
    }
  }
}