.main_wrapper {
  background-color: whitesmoke;
  padding-bottom: 50px;
  .movie_slide {
    height: 340px;
    padding: 20px 150px 0;
    &__box {
      height: 100%;
      &--title {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
      }
      &__contents {
        margin: 10px 0 0;
        padding: 0;
        height: calc(100% - 40px);
        overflow-x: auto;
        white-space: nowrap;
        &__item {
          height: 280px;
          width: 230px;
          margin: 0 10px;
          background-color: #ffffff;
          list-style: none;
          display: inline-block;
        }
      }
    }
  }

  .coming_soon_movie {
    height: 340px;
    padding: 20px 150px 0;
    &__box {
      height: 100%;
      &--title {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
      }
      &__contents {
        margin: 10px 0 0;
        padding: 0;
        height: calc(100% - 40px);
        overflow-x: auto;
        white-space: nowrap;
        &__item {
          height: 280px;
          width: 230px;
          margin: 0 10px;
          background-color: #ffffff;
          list-style: none;
          display: inline-block;
        }
      }
    }
  }

  .popular_movie {
    height: 340px;
    padding: 20px 150px 0;
    &__box {
      height: 100%;
      &--title {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
      }
      &__contents {
        margin: 10px 0 0;
        padding: 0;
        height: calc(100% - 40px);
        overflow-x: auto;
        white-space: nowrap;
        &__item {
          height: 280px;
          width: 230px;
          margin: 0 10px;
          background-color: #ffffff;
          list-style: none;
          display: inline-block;
        }
      }
    }
  }

  .high_rating_movie {
    height: 340px;
    padding: 20px 150px 0;
    &__box {
      height: 100%;
      &--title {
        font-size: 20px;
        font-weight: bold;
        text-align: center
      }
      &__contents {
        margin: 10px 0 0;
        padding: 0;
        height: calc(100% - 40px);
        overflow-x: auto;
        white-space: nowrap;
        &__item {
          height: 280px;
          width: 230px;
          margin: 0 10px;
          background-color: #ffffff;
          list-style: none;
          display: inline-block;
        }
      }
    }
  }

  .category_movie {
    height: 340px;
    padding: 20px 150px 0;
    &__box {
      height: 100%;
      &--title {
        font-size: 20px;
        font-weight: bold;
        text-align: center
      }
      &__contents {
        margin: 10px 0 0;
        padding: 0;
        height: calc(100% - 40px);
        overflow-x: auto;
        white-space: nowrap;
        &__item {
          height: 280px;
          width: 230px;
          margin: 0 10px;
          background-color: #ffffff;
          list-style: none;
          display: inline-block;
        }
      }
    }
  }
}