.shares_footer {
  height: 50px;
  background-color: #f5f5f5;
  display: flex;
  &__box {
    margin: 0 auto;
    line-height: 50px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.5px;
  }
}