.user_edit {
  height: 100vh;
  padding-top: 70px;
  background-color: whitesmoke;
  &__wrapper {
    padding: 30px 100px;
    &--title {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
    }
    &__form {
      margin-top: 30px;
      &__item {
        padding: 10px 0;
        border-bottom: 1px solid #ffffff;
        text-align: center;
      }
      &--btn {
        height: 40px;
        width: 80px;
        background-color: #eebd53;
        border: none;
        border-radius: 10px;
        font-size: 20px;
        font-weight: bold;
        color: #ffffff;
        display: block;
        margin: 0 auto;
        margin-top: 10px;
      }
      &--btn:hover {
        background-color: #eebd53c7;
        color: #ffffffc7;
      }
      &__delete {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        &--btn {
          height: 30px;
          width: 120px;
          text-align: center;
          line-height: 30px;
          background-color: red;
          border-radius: 10px;
          font-size: 15px;
          font-weight: bold;
          color: #ffffff;
        }
        &--btn:hover {
          color: #ffffffc7;
          background-color: rgba(255, 0, 0, 0.8);
          text-decoration: none;
        }
      }
    }
  }
}