.user_edit {
  background-color: #ffffffc7;
  height: 95vh;
  &__wrapper {
    height: 100%;
    padding-top: 100px;
    background-color: whitesmoke;
    &__inner {
      width: 1024px;
      margin: 0 auto;
      padding: 0 50px 20px 50px;
      display: flex;
      justify-content: space-between;
      &__right {
        width: 700px;
        &--title {
          margin: 0 auto;
          text-align: center;
          border-bottom: 1px solid rgba(0,0,0,.125);
          background-color: #e6e6e6c7;
        }
        &__form{
          &__item {
            display: flex;
            justify-content: space-between;
          }
          &__name {
            &--title {
              font-size: 15px;
              font-weight: bold;
            }
            &__field {
              width: 300px;
              text-align: center;
              margin-right: 30px;
            }
          }
          &__email {
            &--title {
              font-size: 15px;
              font-weight: bold;
            }
            &__field {
              width: 300px;
              text-align: center;
              margin-right: 30px;
            }
          }
        }
      }
    }
  }
}